* {
    padding: 0;
    margin: 0;
}

.navbar-brand img {
    width: 140px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar {
    padding: lem 0 !important;
}